body{
    font-family: "Times New Roman", Times, serif;
    background-color: lightgray;
    /* tar bort den yttersta ramen som finns där annars */
    margin:0;
}

/*översta delen av hemsidan*/
.header {
    background-color: lightgray;
    height: 10%;
  }

  .logo {
    width:12%;
    height:110%;
  }

  /*underdelen av hemsidan*/
  .footer {
    background-color: lightgray;
    height: 10%;
  }

  /*backgrund för länkar*/
  .footer_background{
    position:relative;
    background-color: rgb(217, 217, 217);
    width:30%;
    height:100%;
    left:35%;
  }

  /*tos och pp länkar*/
  .footer_child_TEXT, 
  .footer_childPP,
  .footer_childTOS{
    position:absolute;
    font-size:18px;
    bottom:0;
    top:0;
  }
  .footer_child_TEXT{
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    right:50%;
    left:45%;
  }
  .footer_childPP{
    right:15%;
    top:20;
  }
  .footer_childTOS{
    left:15%;
    top:20;
  }

  /*för copyright saken*/
  .footer_CR{
    position: absolute;
    font-size:15px;
    right:2%;
    bottom:0;
  }

  /*background*/
  .main {
    background-color: white;
    text-align: center;
    height: 80%;
  }

/*sätter sökrutan på plats*/
  .searchBox{
      position: absolute;
      background-color: lightgray;
      border-radius: .1in;
      width:50%;
      height:50%;
      right:25%;
      top:25%;
  }

  /*enklare att justera något som är relative inuti
  något som är absolute*/
.searchHead,
.searchfield,
.searchButton{
    position: relative;
}

/*texten i sökrutan*/
  .searchHead{
    font-size:3rem;
    top:70;
  }

  /*sökfältet*/
  .searchField{
      width:70%;
      height:10%;
      top:100;
      border-radius: .5em;
  }

  /*sök knappem*/
  .searchButton{
      height:10%;
      top:100;
  }

  